/* styles.css */

body.container {
    background-color: #0b273d;
    font-family: 'Andale Mono', monospace;
    color: white;
    /* Other styles */
}

.header-with-padding {
    padding: 20px; 
}

.paragraph-with-padding {
    padding-left: 20px;
}

.custom-link {
    color: #05883b
}
