<!-- pages/templates/pages/home.html -->

{% extends "base.html" %}

{% block page_content %}
    <h1 class="header-with-padding">Jack Mackle</h1>
    <p class="paragraph-with-padding">
        I like to ski. <br>
        I like to fish. <br>
        I like the outdoors. <br>
        I like exercise. <br>
        I like data. <br>
        I like programming. <br>
        I like solving complex business problems. <br>
    </p>
    <p class="paragraph-with-padding">
        I graduated from Queen's Univeristy with a major in Life Science and a minor in Math. <br>
        I worked in biotech and now work as a systems analyst at Shopify. <br>
        You can find my resume here.
    </p>
{% endblock page_content %}