<!-- pages/templates/pages/home.html -->

{% extends "base.html" %}

{% block page_content %}
    <div style="padding-left: 20px">
        <h1 style="padding-top: 20px">Jack Mackle</h1>
            <h5 style="color: #acacac">Career TL;DR</h5>
        <h4 style="padding-top:20px;">Experience</h4>
            <h6>Shopify - Senior Data Analyst</h6>
                <li style="padding-left: 20px;">Same as below but senior.</li>
            <h6 style="padding-top: 10px;">Shopify - DataAnalyst</h6>
                <li style="padding-left: 20px;">Improving process, teams, and product through insights.</li>
            <h6 style="padding-top: 10px;">Shopify - Product Support Network Specialist</h6>
                <li style="padding-left: 20px;">Bridging the gap between product and support.</li>
            <h6 style="padding-top: 10px">Genomadix - Field Application Specialist</h6>
                <li style="padding-left: 20px;">
                    Primarily training and support of medical devices, but also a wearer of many hats.
                </li>
            <h6 style="padding-top: 10px;">Queen's School of Medicine - Research Assistant</h6>
                <li style="padding-left: 20px;">
                    Contributing to novel diagnostic tools in Child and Adolescent Psychiatry.
                </li>
        <h4 style="padding-top:20px;">Education</h4>
            <p>Bachelor of Science (Honours) - Queen's University</p>
                <li style="padding-left: 20px; margin-top: -10px;">
                Major: Life Science, Minor: Mathematics
                </li>
        <h4 style="padding-top:20px;">Volunteering</h4>
            <h6>Georgian Bay Land Trust - Steward</h6>
    </div>
{% endblock page_content %}